@model Study_Buddy.Models.Tutor

@{
    ViewBag.Title = "Edit";
}


<head>
    <link href="~/Content/Style.css" rel="stylesheet" />
</head>
<center style="position:center;":center;">
    <br />
    <h4>Time Management</h4>
    <br />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-horizontal">
    <br />
    <h4>Tutor</h4>
    <br />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Tutor_Id)

    <div class="form-group">
        @Html.LabelFor(model => model.Tutor_Name, htmlAttributes: new { @class = "control-label" })
        <div>
            @Html.EditorFor(model => model.Tutor_Name, new { htmlAttributes = new { @class = "form-control textbox" } })
            @Html.ValidationMessageFor(model => model.Tutor_Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
        <div>
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control textbox" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Level_Of_Study, htmlAttributes: new { @class = "control-label" })
        <div>
            @Html.EditorFor(model => model.Level_Of_Study, new { htmlAttributes = new { @class = "form-control textbox" } })
            @Html.ValidationMessageFor(model => model.Level_Of_Study, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label" })
        <div>
            @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control textbox," } })
            @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Binary, htmlAttributes: new { @class = "control-label" })
        <div>
            <input type="file" name="file" id="file" />
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Level_2_tut, htmlAttributes: new { @class = "control-label" })
        <div>
            @Html.EditorFor(model => model.Level_2_tut, new { htmlAttributes = new { @class = "form-control textbox" } })
            @Html.ValidationMessageFor(model => model.Level_2_tut, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Faculty, htmlAttributes: new { @class = "control-label" })
        <div>
            @Html.EditorFor(model => model.Faculty, new { htmlAttributes = new { @class = "form-control textbox" } })
            @Html.ValidationMessageFor(model => model.Faculty, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Department, htmlAttributes: new { @class = "control-label" })
        <div>
            @Html.EditorFor(model => model.Department, new { htmlAttributes = new { @class = "form-control textbox" } })
            @Html.ValidationMessageFor(model => model.Department, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Module, htmlAttributes: new { @class = "control-label" })
        <div>
            @Html.EditorFor(model => model.Module, new { htmlAttributes = new { @class = "form-control textbox" } })
            @Html.ValidationMessageFor(model => model.Module, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Availability, htmlAttributes: new { @class = "control-label" })
        <div>
            @Html.EditorFor(model => model.Availability, new { htmlAttributes = new { @class = "form-control textbox" } })
            @Html.ValidationMessageFor(model => model.Availability, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.availableTime, htmlAttributes: new { @class = "control-label" })
        <div>
            @Html.DropDownListFor(model => model.availableTime, new List<SelectListItem>
        {
            new SelectListItem(){Text="Select Times",Disabled= true,Selected=true},
           new SelectListItem(){Text="14:00-15:00"},
             new SelectListItem(){Text="16:00-17:00"},
              new SelectListItem(){Text="20:00-21:00"},
                     new SelectListItem(){Text="22:00-23:00"}


             }, htmlAttributes: new { @id = "NormalTimes", @style = "width:500px;height:30px;" })<br />

            @Html.ValidationMessageFor(model => model.availableTime, "", new { @class = "text-danger" })<br />
        </div>

        <div class="form-group">
            <div>
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</div>
    }

</center>
    
