@model IEnumerable<Study_Buddy.Models.Tutor>

@{
    ViewBag.Title = "Index";
}



<center class="centralContent" style="padding-bottom:11em;">
    <br />
    <h4>Your Status</h4>
    <br />
    <table class="fulltable">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tutor_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level_Of_Study)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Availability)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.availableTime)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Tutor_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Level_Of_Study)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Availability)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.availableTime)
                </td>

                <td>
                    @if (item.Status == "Approved")
                    {
                        <a href="@Url.Action(actionName: "Available", controllerName: "Tutors", routeValues: new { id = item.Tutor_Id })">Available </a>
                        <a href="@Url.Action(actionName: "NotAvailable", controllerName: "Tutors", routeValues: new { id = item.Tutor_Id })"> | Not Available |</a>
                        @Html.ActionLink("Select Time", "Edit", new { id = item.Tutor_Id })
                    }
                    else
                    {

                    }

                </td>

            </tr>
        }

    </table>

</center>
